.f-name, .f-subject, .f-service, .f-email {
    margin: 0px 5%;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 10px !important;
    -webkit-appearance: button;
    cursor: pointer;
    transition: all .2s linear;
    width: 90% !important;
    letter-spacing: 0;
    font-size: 15px !important;
    font-weight: 600 !important;
    padding: 20px 30px !important;
    font-family: 'Inter', 'Arial', 'sans-serif' !important;
    background: transparent !important;
    border: 2px solid #4beee9 !important;
    color: #4beee9;
}

.f-name > p:nth-child(1),
.f-subject > p:nth-child(1),
.f-service > p:nth-child(1),
.f-email > p:nth-child(1){
    text-align: left;
    padding: 15px 5px;
    text-transform:uppercase;
    font-weight: 600 !important;
}

.cforms-required{
    color: red!important;
}

#form-register-modal>div.nyssa-form-simple-wide select, #form-register-modal2>div.nyssa-multiple-fields select {
    height: 56px;
    margin-top: 0;
}