li.testimonials-slide.slick-slide > div > div > div.img-container {
    width: 100%;
    height: 50%;
    border-radius: 0px;
}

li.testimonials-slide.slick-slide > div > div > div.img-container > img {
    border-radius: 0px;
}

#info-circle-wrapper-6412f7ad3c6ef * {
    color: #003279;
}

a#slider-18-slide-52-layer-16 {
    color: #124082!important;
}


#section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeIn.fadeIn.vc_row-no-padding.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex.ult-vc-hide-row.vc_row-has-fill.wpb_start_animation.animated > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div > div:nth-child(4) > div.wpb_column.vc_column_container.vc_col-sm-10 > div > div > div.vc_btn3-container.vc_btn3-inline > a ,
#section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeIn.fadeIn.vc_row-no-padding.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex.ult-vc-hide-row.vc_row-has-fill.uvc_hidden-xs.uvc_hidden-xsl.wpb_start_animation.animated > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div > div.vc_btn3-container.vc_btn3-inline > a,
#mc-embedded-subscribe{
    color: #003279!important;
}

#section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeIn.fadeIn.vc_row-no-padding.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex.ult-vc-hide-row.vc_row-has-fill.wpb_start_animation.animated > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div > div:nth-child(4) > div.wpb_column.vc_column_container.vc_col-sm-10 > div > div > div.vc_btn3-container.vc_btn3-inline > a:hover ,
#section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeIn.fadeIn.vc_row-no-padding.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex.ult-vc-hide-row.vc_row-has-fill.uvc_hidden-xs.uvc_hidden-xsl.wpb_start_animation.animated > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div > div.vc_btn3-container.vc_btn3-inline > a:hover{
    color: white!important;
}



#wpcf7-f1258-o1 > form > div.nyssa-multiple-fields > div.bt-contact.center > p > a > input,
#section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wide-ipad.vc_custom_1674147041760.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div > div.vc_btn3-container.vc_btn3-inline > a{
    color: #003279!important;
    border-color: #003279!important;
}

#primary_footer > div > div > div > div > div > div > div > div > div.ult-content-box-container > div > div > div * {
    color: #fbfbfb!important;
}

@media (max-width: 1028px){
    #info-cirlce-wrap-9287 > *,#info-cirlce-wrap-9287 *:not(img) {
        font-size: 12px!important;
        margin: 0px;
        width: 100%!important;
    }
    
    #info-cirlce-wrap-9287 h3 {
        font-size: 15px!important;
        margin-top: 0px!important;
    }
    
    #info-cirlce-wrap-9287 > div > div > div > div{
        margin-top: 0px!important;
    }
}

@media (max-width: 975px){
    #section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeIn.fadeIn.vc_row-no-padding.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex.ult-vc-hide-row.vc_row-has-fill.uvc_hidden-xs.uvc_hidden-xsl.wpb_start_animation.animated > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div{
            margin-left: 0px!important;
    }
    
    #section_page-4543 > div > section > div:nth-child(2) > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div{
            margin: 50px 0px 50px 0px!important;
    }
}

@media (max-width: 604px){
    
    #info-cirlce-wrap-9287 * {
        width: initial!important;
        color: white;
    }
}

@media (max-width: 427px){
    #for-mobile-only{
        margin-top: 56px;
    }
    
    #cbpw-wrap130 > div.wpb_text_column.wpb_content_element{
        width:90%!important;    
    }
    
    #info-cirlce-wrap-9287 > li > div.icon_list_icon{
        background-color: #4beee9!important;
    }
    #rev_slider_18_1_wrapper{
        height: 890px!important;
        max-height: 990px;
    }
    #rev_slider_18_1{
        height: 1190px!important;
        max-height: 1190px;
    }
    #section_page-4543 > div > section > div:nth-child(2){
        top:180px;
    }
    #rev_slider_18_0{
        height: 1190px!important;
        max-height: 1190px;
    }
}

@media (max-width: 412px){
    #section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wide-ipad.vc_custom_1674147041760.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div:nth-child(2) > div {
        margin-top: 18%;
    }
    #for-mobile-only{
        top:82px;
    }
    #for-mobile-only > div:nth-child(3) > div > div > div > div > h2,
    #section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wide-ipad.vc_custom_1674147041760.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div > h2{
        font-size: 24px!important;
    }
    #rev_slider_18_1_wrapper{
        height: 990px!important;
    }
    #rev_slider_18_1{
        height: 900px!important;
        max-height: 990px!important;
    }
    #section_page-4543 > div > section > div:nth-child(2){
        top:200px;
    }
}

#section_page-4543 > div > section > div.vc_row.wpb_row.vc_row-fluid.wide-ipad.vc_custom_1674147041760.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.wpb_start_animation.animated > div > div > div > div *{
    color: #003279;
}

#cbpw-wrap130 > div.wpb_text_column.wpb_content_element * {
    font-size: 20px;
}
